.special-offers-page {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
  font-family: 'Arial', sans-serif;
}

.first-section {
  display: inline;
  position: relative;
  width: 100%;
}

.video-background {
  width: 100%;
  height: auto;
}


.header-special {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}


.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.main-title {
  font-size: 3rem;
  margin: 10px 0;
}

.description {
  font-size: 1rem;
}

.filter-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}


label {
  margin-right: 10px;
}

select {
  padding: 8px;
  margin-right: 10px;
}

.btn-filter {
  margin-top: 10px;
}

.special-button {
  margin-bottom: 10px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.offer-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.offer {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.offer .img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.offer h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}
