.manage-booking-container {
  margin-top: 20px;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;
}



.input-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}


.inputs-form {

  padding: 10px;
  margin: 5px;
  width: 400px; 
  color: #555555;
  margin-left:70px ;

}

.small-btn {
  padding: 8px 12px;
  margin: 5px;
  font-size: 14px;
  background-color: #900562;
  width: 120px; 
  margin-left: 88%;
}
.small-btn:hover{
  cursor: pointer;
  background-color: #500336;
}

.parag{
  font-weight:light;
  color: #900562;
  font-size:x-large;
  margin-left: 70px;

}
.custom-line {
  border-top: 1px solid #900562; 
  width: 92%; 
  margin: 20px auto;
  margin-top: 8px; 
}

.manage-booking-container h1{
  font-weight: lighter;
  color: #555555;
  margin-left: 70px;
  font-size:large;
  
  
}


.bookingdata {
  display: flex;
  justify-content: center;
  text-align: center;
}